body {
    margin: 60px auto;
    width: 70%;
    background-color: #173e43;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #e9ece5;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #F8F1F1;
}

}
footer {
    position:fixed;
    bottom:0;
    left:0;
    border-top: 1px solid #d5d5d5;
    font-size: 0.8em;
}


#aboutme {
    font-size: 1em;
    font-style: oblique;
    color: #F8F1F1;
}
    
#footer{
 position:fixed;
 bottom:0;
 left:0;
 font-size: 1em;
 color: #e8edf3;
}
