<!DOCTYPE html>
<html>
	<head>
		<title>Homepage</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
	    	<ul>
	    		<li><a class="active" href="/">Home</a></li>
  			<li><a href="/about">About Me</a></li>
  			<li><a href="/projects">Projects</a></li>
  			<li><a href="/CV">Resume</a></li>
		</ul>
		</nav>
		<div class="container">
			
		</div
	    	<div id="footer">
        		<p>Email: ruhanli168@gmail.com
        		<a href="https://github.com/RuhanLi">Github Page</a> 
        		</p>
		</div>
	</body>
</html>
